/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'arial', sans-serif;
  background-color: hsl(66, 40%, 75%);;
  color: #333;
}

h1, h2, h3 {
  color: #4a4a4a;
}

button {
  cursor: pointer;
  border: none;
  background-color: #a4d8d4;
  color: rgb(49, 68, 175);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

input[type="text"], input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #4CAF50;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Flexbox utility classes */
.flex {
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.full-height {
  height: 100vh;
}

/* For a nice shadow around cards */
.card {
  background: #751465;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
